nav {
    position: fixed;
    display: flex;
    height: 120px;
    width: 100%;
    background-color: #4056A1;
    color: #FFFFFF;
    padding-left: 1.5em;
    padding-right: 1.5em;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.nav-title {
    font-family: Bungee;
    font-size: xx-large;
}

.new-tweet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
  

.arrow {
    color: red;
    text-align: center;
}