.all-tweets {
    border: 5px solid black;
    background: none;
    padding: 20px;
    margin: 50px 0 50px 0;
}
.all-tweets:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

article header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article header div {
    display: flex;
    align-items: center;
}
article header div img {
    padding-right: 15px;
}
article p {
    border-bottom: 5px solid black;
    padding-bottom: 10px;
}

article footer {
    display: flex;
    justify-content: end;
    font-size: medium;
}
article footer i:hover {
   color: #d19600
}