.tweet {
    border: 5px solid black;
    background: none;
    padding: 20px;
    margin: 50px 0 50px 0;
}
.tweet:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    display: flex;
    align-items: center;
}
.handle {
    opacity: 0.5;
}
article header div img {
    padding-right: 15px;
}
.content {
    border-bottom: 5px solid black;
    padding-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: medium;
}
.icons i:hover {
   color: #d19600;
   transition: color 0.2s ease-in-out;
}